<% content_for :header do -%>
  Modify Label Priority
<% end -%>

<% form_for(@label) do |f| %>
  <%= f.error_messages %>
 <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', labels_path %>